/* Add CSS Styling */

.bg-pink{
    background-color: rgb(208, 145, 108);
}

.big-text{
    font-size: 32px;
}

#first{
    color: blue;
    font-size: 48px;
}

#second{
    font-size: 32px;
    font-weight: bold;
    background-color: rgb(76, 157, 51);
}