/* Add CSS Styling */

.btn{
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.btn-click{
    background-color: black;
    color: white;
}

.btn-no-click{
    background-color: yellow;
}